<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Welcome to our restaurant, where culinary delights meet warm hospitality. Indulge in a delightful dining experience as our talented chefs create mouthwatering dishes using the finest ingredients.  ">
  <link rel="apple-touch-icon" href="/assets/icon/icon-72x72.png">
  <link rel="manifest" href="./app.webmanifest" />
  <link rel="icon" href="./favicon.png" />
  <title>Caraousel Restaurant</title>
</head>

<body>
  <a href="#mainContent" class="skip-link">Menuju ke konten</a>
  <header>
    <nav>
      <div class="logo">
      <img src="./images/assets/caraousel.png" alt="Restaurant Catalog App" width="120" tabindex="0">
      </div>
      <div class="menu-div">
        <button id="menu" class="header__menu">☰</button>
      </div>
      <div class="mobile-menu" id="mobile-menu">
        <ul class="menu">
          <li><a href="#/" >Home</a></li>
          <li><a href="#/favorite" >Favorite</a></li>
          <li><a href="https://github.com/wendikardian" >About Us</a></li>
        </ul>
      </div>
    </nav>

  </header>
  <main id="mainContent">
    <section class="hero">
      <img src="./images/heros/hero-image_1.jpg" alt="Restaurant Catalog App" width="120" tabindex="0">
      <div class="caption-hero" >
        <h1 class="title-hero" tabindex="0">Welcome to Carousel Restorant </h1>
        <p class="caption-desc" tabindex="0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad excepturi
          minus temporibus minima. Ratione quod magni accusantium, magnam, saepe perferendis molestias iure nisi quas
          omnis molestiae? Mollitia, cumque? Corrupti, voluptates.</p>
      </div>
    </section>

    <section class="restaurant-list" id="restaurant-list">

      </div>
    </section>
    <section id="booking-section">
      <h1 tabindex="0" >Booking here</h1>
      <form action="" class="form-data">
        <div class="input-box">
          <label for="name">Name</label>
          <input type="text" id="name" placeholder="Name" name="name" required>
        </div>
        <div class="input-box">
          <label for="people">How Many People</label>
          <input type="number" id="people" placeholder="People" name="people" required>
        </div>
        <div class="input-box">
          <label for="date">Date</label>
          <input type="date" id="date" placeholder="Date" name="date" required>
        </div>
        <div class="input-box">
          <label for="payment">Payment Method</label>
          <select name="payment" id="payment" required>
            <option value="cash">Cash</option>
            <option value="credit">Credit</option>
          </select>
        </div>
        <input type="submit" class="card-button">
      </form>
    </section>
  </main>
  <footer>
    <p tabindex="0">Copyright © 2023 - Caraousel Restaurant</p>
  </footer>
</body>

</html>