@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

img {
  display: block;
}

/* Global styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Header styles */
header {
  position: fixed;
  top: 0px;
  background-color: white;
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  padding-top: 5px;;
  height: 50px;
  z-index: 99;
}

nav {
  display: flex;
  padding: 0px;
  // align-items: center;
  // justify-content: center;
  justify-content: space-between;
  // background-color: red;
}

.logo{
  margin-top: 10px;
}


a{
  min-height: 45px;
  display: inline-block;
}

.logo img {
  height: 40px;
}

.mobile-menu {
  padding: 10px;
  // display: none; /* Hide the menu by default on desktop */
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 50px;;
  display: flex;
  // position: relative;
}

.menu li {
  margin-left: 15px;
}

.menu a {
  text-decoration: none;
  color: #333;
}

.menu-div {
  display: none;
  justify-content: flex-end;
  position: relative;
  // top: -10px;
  right: 30px;;
}

/* Main content styles */
main {
  // padding: 20px;
  margin-top: 100px;;
}

/* Footer styles */
footer {
  background-color: #f5f5f5;
  padding: 30px;
  text-align: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.caption-hero {
  text-align: center;
  background-color: #f5f5f5;
  position: relative;
  top: -300px;
  padding: 20px;
  width: 70%;
  opacity: 0.7;
  // color: red;
}

.header__menu {
  font-size: 32px;
  margin: 10px;
  display: block;
  width: 30px;
}

.title-hero {
  font-weight: bold;
  font-size: 20px;
}

.card{
  width: 300px;
  margin: 20px;
  padding: 18px;
  border-radius: 20px;
  box-shadow: rgba(132, 130, 130, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover{
  cursor: pointer ;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
}

.card img{
  width: 90%;
}

.restaurant-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px;
}

.card p{
  margin: 5px;
}

.card img{
  margin-bottom: 20px;
}

.title-restaurant{
  margin: auto;
  text-align: center;
  font-size: 32px;
  margin-top: -100px;
}

.card-name-restaurant{
  font-size: 20px;
  font-weight: bold;
}

.skip-link {
  display: inline-block;
  min-width: 50px;
  min-height: 50px;
  position: absolute;
  top: -70px;
  left: 0;
  padding: 8px;
  background-color: #bf1722;
  color: white;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.card-button{
  background-color: #747171;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  width: 200px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.card-image{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

#booking-section{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.form-data{
  width: 70%;
  display: flex;
  flex-direction: column;

}

label{
  display: block;
}

input{
  display: inline-block;
  width: 100%;
  padding: 4px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #747171;
  min-height: 50px;

}

select{
  min-height: 50px;
  width: 100%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #747171;
}


button#menu{
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  max-width: 100px;
  min-height: 50px;
  background-color: white;
  padding: 10px;
}


li a{
  margin: 15px;
  min-height: 50px ;
}



.__see_detail{
  color: rgb(46, 133, 233);
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #747171;
  min-height: 20px;
  background-color: white;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
}

.__see_detail:hover{
  background-color: rgb(46, 133, 233);
  color: white;
  transform: scale(1.1);
  transition: transform 0.5s;

}


._detail_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

._detail_description{
  width: 70%;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(132, 130, 130, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detail_text{
  font-size: 34px;
}

._detail_description img{
  width: 90%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

._detail_categories{
  display: flex;
}

._detail_categories p {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #747171;
  min-height: 20px;
  background-color: white;
  padding: 10px;
}

._detail_categories p:hover{
  background-color: rgb(46, 133, 233);
  color: white;
  transform: scale(1.1);
  transition: transform 0.5s;
  cursor: pointer;
}


._add_fav button{
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  width: 200px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}


.liked{
  background-color: rgb(233, 49, 46);
  color: white;
  transform: scale(1.1);
  transition: transform 0.5s;
  cursor: pointer;
}

.menu_list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: rgba(132, 130, 130, 0.24) 0px 3px 8px;
  width: 70%;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.menu_item{
  flex-basis: 1;
  width: 45%;
  margin-left: 20px;
}

.food{
  border-right: 1px solid #747171;

}

.menu_item h2{
  text-align: center;
}

.list_menu{
  display: flex;
  flex-wrap: wrap;
}

.list_menu p{
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #747171;
  min-height: 20px;
  background-color: white;
  padding: 10px;
}

.list_menu p:hover{
  background-color: rgb(46, 133, 233);
  color: white;
  transform: scale(1.1);
  transition: transform 0.5s;
  cursor: pointer;
}


.review_container{
  width: 70%;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(132, 130, 130, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box textarea{
  width: 90% !important;
}

.review-input{
  width: 100% !important;
}

.form-review-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#submit_review{
  width: 80%;
}

.list_review{
  width: 70%;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(132, 130, 130, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
}

.review-data{
  border: 1px solid #ccc;
  margin: 10px;
  padding: 15px;
}