@media screen and (max-width: 500px) {
    .logo img {
      min-height: 30px;
    }

    .caption-hero {
      padding: 10px;
      width: 90%;
    }

    .title-hero {
      font-size: 16px;
    }

    .mobile-menu {
      z-index: 10px;
      background-color: #fff;
      width: 300px;
      -webkit-transform: translate(300px, 0);
      position: fixed;
      display: none;
      transform: translate(300px, 0);
      transition: transform 1s ease-in-out;
    }

    .open {
      display: block;
      transform: translate(100px, 60px);
      font-size: 20px;
      // top: 300px;
    }

    .menu {
      flex-direction: column;
    }

    .menu-div {
      display: flex;
    }

    .restaurant-container{
      padding: 20px;
    }

  }

  @media screen and (min-width: 700px) {
    .caption-desc {
      // font-size: 12px;
    }

    .mobile-menu {
      display: block;
    }

    .header__menu {
      display: none;
    }


  }

  @media screen and (min-width: 900px) {
    .caption-hero {
      top: -200px;
    }
  }

  @media screen and (min-width: 1200px) {
    .hero img {
      min-width: 1000px;
    }
  }
